<ion-header>
  <ion-toolbar>
    <ion-title>Kayıt Ol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Ad</ion-label>
      <ion-input [(ngModel)]="user.name" name="name" type="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="user.email" name="email" type="email" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Şifre</ion-label>
      <ion-input [(ngModel)]="user.password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" color="primary">Kayıt Ol</ion-button>
    <ion-button [routerLink]="['/login']">Giriş Yap</ion-button>
  </form>
</ion-content>
